NCBI_API_KEY=
NCBI_TOOL=
NCBI_EMAIL=
UNPAYWALL_EMAIL=
OPENALEX_EMAIL=
CROSSREF_EMAIL=
SEMANTIC_SCHOLAR_API_KEY=
CORE_API_KEY=
SPRINGER_NATURE_API_KEY=
ELSEVIER_API_KEY=
ELSEVIER_INST_TOKEN=
OPENFDA_API_KEY=
DRUGBANK_API_KEY=
PHARMGKB_API_KEY=
USDA_FDC_API_KEY=
